---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
interface blogProps {
  title: string;
  date: Date;
}
---

<BaseLayout title="Blog">
  <ul>
    {
      blogPosts.map(({ data: { date, title } }: { data: blogProps }) => (
        <li>
          <p>
            <span>{date.toDateString()}: </span>
            {title}
          </p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
