---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
const newestPosts = blogPosts.sort(
  (a: any, b: any) => b.data.date - a.data.date
);
---

<BaseLayout title="Blog">
  <ul>
    {
      newestPosts.map((p) => (
        <li class="hover:underline">
          <a href={`/${p.collection}/${p.slug}`}>
            <span>{p.data.date.toISOString().slice(0, 10)}: </span>
            <span class="font-bold">{p.data.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
