---
import Picture from "astro/components/Picture.astro";
const { image, title, date, categoryPath } = Astro.props;
---

<a class="hover:cursor-pointer" href=`/photos/${categoryPath}`>
  <Picture
    src={image}
    alt={title}
    quality={"max"}
    formats={["avif"]}
    class="mt-[-24px] mb-[-32px] border-[16px] border-black dark:border-white"
  />
</a>
<div
  class="bg-black dark:bg-white flex justify-between items-center px-4 text-white dark:text-black"
>
  <p class="m-0">{date.toISOString().slice(0, 10)}</p>
  <p class="m-0 font-bold italic">{title}</p>
  <p class="m-0">Your Name</p>
</div>
