---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title="blog post">
  <h1>{frontmatter.title}</h1>
  <h2>{frontmatter.date.toString().slice(0, 10)}</h2>
  <h4>{frontmatter.description}</h4>
  <slot />
</BaseLayout>
